* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container {
  width: 100%;
  height: 100whh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: salmon;
}
section {
  width: 100%;
  height: 600px;
  background-color: salmon;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 50% 50%;
  padding-bottom: 50px;
  padding-top: 50px;
}

.info-container input {
  width: 100px;
}

.button-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.button-container .btn {
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: gold;
}

.btn:hover {
  transform: scale(1.1);
  box-shadow: 3px 3px 2px goldenrod;
}

.grid-container {
  display: grid;
  width: 500px;
  height: 500px;
}

.active-field {
  background: white;
  border: 0.2px dotted lightgrey;
  border-radius: 2px;
}

input {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  border: none;
}
